{% extends "admin/base.html" %}
{% block content %}
<div class="bg-light p-4 mb-4 rounded">
    <div class="container">
        <h1 class="text-center">Password Policy</h1>
    </div>
</div>


<div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-5">
        <form method="POST">
        <label><input type="checkbox" name="require_upper" {% if policy.require_upper %}checked{% endif %}> Require Uppercase</label><br>
        <label><input type="checkbox" name="require_lower" {% if policy.require_lower %}checked{% endif %}> Require Lowercase</label><br>
        <label><input type="checkbox" name="require_number" {% if policy.require_number %}checked{% endif %}> Require Numbers</label><br>
        <label><input type="checkbox" name="require_symbol" {% if policy.require_symbol %}checked{% endif %}> Require Symbols</label><br>
        <label>Minimum Length: <input type="number" name="min_length" value="{{ policy.min_length }}"></label><br><br>
        <input type="submit" value="Save Policy">
        </form>
      </div>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="mt-3 text-center">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
            </div>
        {% endif %}
      {% endwith %}
    </div>
</div>

{% endblock %}


